@import "tailwindcss";

@layer utilities {
  @font-face {
    font-family: 'Arame';
    src: url('/fonts/Arame.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-BoldItalic';
    src: url('/fonts/Poppins-BoldItalic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Medium';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-Regular';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins-LightItalic';
    src: url('/fonts/Poppins-LightItalic.ttf') format('truetype');
  }
}

* {
  user-select: none;
  text-decoration: none;
  list-style: none;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}